@import "theme.less";

html {
  height: 100%;
}

p {
  margin: 0;
}

body {
  height: 100%;
  color: @text-color;
  font-family: @font-family;
  font-size: @font-size;
}

h1 {
  font-size: @title-font-size;
  text-align: center;
  padding: 4vw 0;
  margin: 0;
}

.abs-title{
  position: absolute;
  width: 100%;
  top: 0;
}

.slide-container {
  height: 100%;
}

.presentation-container {
  height: 100%;
}

.width-100 {
  width: 100%;
}




.text-in-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.first-logo {
  width: 12vw;
  margin: 8vw auto 0;
}

.accent-block {
  background: @accent-color;
  font-size: @subtitle-font-size;
  border-radius: @accent-border-radius;
  color: @accent-opposite-color;
  width: fit-content;
  padding: @accent-padding;
  margin: 0 auto @font-size;
}

.author-block {
  font-size: @subtitle-font-size;
  margin-top: @font-size;
}

.company-block {
  color: @deactive-color;
  font-size: @font-size-small;
}


.count-of-visitors{
  position: absolute;
  bottom: @font-size;
  left: @font-size;
}


.content-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 17vw);
  flex-direction: column;
  text-align: center;
}

.img-with-text {
  height: calc(100% - @title-font-size);
}

.bottom-abs-text {
  bottom: @font-size;
  position: absolute;
  text-align: center;
  width: 100%;
}

.height-100 {
  height: 100%;
}

.hidden-area {
  opacity: 0;
  transition: all 0.5s;
}

.visible-area {
  opacity: 1;
  transition: all 0.5s;
}

.answers-block {
  display: flex;
  justify-content: center;
}

.one-column-answer {
  text-align: center;
  width: 45vw;
}

.results-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vote-quest-img {
  width: 12vw;
  margin: 0 -2vw;
  z-index: 2;
}

.column-result {
  height: 50px;
  width: calc(50% - 6vw);
  display: flex;
}

.column-result-first {
  justify-content: flex-end;
}

.column-result-first .count-voters {
  border-radius: 25px 0 0 25px ;
}

.column-result-second {
  justify-content: flex-start;
}

.column-result-second .count-voters {
  border-radius:  0 25px 25px 0;
}

.count-voters {
  height: 100%;
  color: @accent-opposite-color;
  text-align: center;
  transition: all 0.1s;
  background: @accent-color;
}

.count-voters-text {
  line-height: 50px;
}